*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

main{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
}


.left{
    float: left;
    width: 60%;
}

.right{
    float: right;
    width: 40%;
}

.left img{
    width: 80%;
}

.right h2{
    margin-top: 100px;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
    line-height: 45px;
}

p{
    letter-spacing: 2.5px;
    line-height: 25px;
}

button{
    margin-top: 40px;
    padding: 10px;
    background-color: black;
    color: white;
}


footer{
    margin-top: 50px;
    clear: both;
    text-align: center;
}

@media(max-width:800px){
main{
    display:block;
}
.left{
    width: 100%;
}
.right{
    width: 100%;
}
}